name: Matrix Deployment
on: push
jobs:
  build:
    continue-on-error: true
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest]
        node-version: [12, 14, 16]
        include: 
          # this will create a new combination
          - operating-system: ubuntu-latest
            node-version: 18
        exclude:
          # this will exlcude this combination
          - operating-system: windows-latest
            node-version: 12
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Install NodeJs
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build